name: Update JSON file

on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Setup python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: '3.13'
    - run: pip install -r requirements.txt

    - name: Update JSON File
      run: |
        python script.py
    
    - name: Get current time and date
      id: date
      run: echo "date=$(date -u +'%Y/%m/%d %H:%M:%S UTC')" >> $GITHUB_OUTPUT
    
    - name: Commit JSON to project
      uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # v7.1.0
      with:
        commit_message: 'Update JSON file (${{ steps.date.outputs.date }})'
        branch: main
        commit_author: "github-actions[bot] <github-actions[bot]@users.noreply.github.com>"